# Notebook with Raw Data Part 2 (No modification techniques)

In [8]:
#Dependencies
from keras.models import Sequential
from keras.layers import Dense
from sklearn.datasets import make_regression
from sklearn.preprocessing import MinMaxScaler
from numpy import array

Using TensorFlow backend.

In [2]:
emp_data=pd.read_excel('Absenteeism_at_work.xls')

In [3]:
#Seperate into two seperate categories to change the datatype
categorical_set = ["Reason for absence","Month of absence","Day of the week","Seasons","Disciplinary failure","Education","Social drinker","Social smoker"]

numerical_set = ["ID","Transportation expense","Distance from Residence to Work","Service time","Age","Work load Average/day ","Hit target","Son","Pet","Weight","Height","Body mass index","Absenteeism time in hours"]

## Converting categorical_set data into category types 
for i in categorical_set :
    emp_data[i] = emp_data[i].astype("category")

for i in numerical_set :
    emp_data[i] = emp_data[i].astype("float64")

In [4]:
emp_data.shape
emp_data.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11.0,26,7,3,1,289.0,36.0,13.0,33.0,239554.0,...,0,1,2.0,1,0,1.0,90.0,172.0,30.0,4.0
1,36.0,0,7,3,1,118.0,13.0,18.0,50.0,239554.0,...,1,1,1.0,1,0,0.0,98.0,178.0,31.0,0.0
2,3.0,23,7,4,1,179.0,51.0,18.0,38.0,239554.0,...,0,1,0.0,1,0,0.0,89.0,170.0,31.0,2.0
3,7.0,7,7,5,1,279.0,5.0,14.0,39.0,239554.0,...,0,1,2.0,1,1,0.0,68.0,168.0,24.0,4.0
4,11.0,23,7,5,1,289.0,36.0,13.0,33.0,239554.0,...,0,1,2.0,1,0,1.0,90.0,172.0,30.0,2.0

# Fit Data in to (X,y)

In [15]:
X = pd.DataFrame(emp_data.drop("Absenteeism time in hours", axis=1))
y = pd.DataFrame(emp_data["Absenteeism time in hours"])

print(X.shape, y.shape)

(740, 20) (740, 1)

# Deep Learning Models Using Keras Model 8

In [16]:
#Scalar data is needed
scalarX, scalarY = MinMaxScaler(), MinMaxScaler()

scalarX.fit(X)
scalarY.fit(y)

X = scalarX.transform(X)
y = scalarY.transform(y)

In [ ]:
# define and fit the final model
model8 = Sequential()