# Notebook with Raw Data Part 2 (No modification techniques)

In [2]:
#Dependencies
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.preprocessing import MinMaxScaler
from numpy import array

Using TensorFlow backend.

In [3]:
emp_data=pd.read_excel('Absenteeism_at_work.xls')

In [4]:
#Seperate into two seperate categories to change the datatype
categorical_set = ["Reason for absence","Month of absence","Day of the week","Seasons","Disciplinary failure","Education","Social drinker","Social smoker"]

numerical_set = ["ID","Transportation expense","Distance from Residence to Work","Service time","Age","Work load Average/day ","Hit target","Son","Pet","Weight","Height","Body mass index","Absenteeism time in hours"]

## Converting categorical_set data into category types 
for i in categorical_set :
    emp_data[i] = emp_data[i].astype("category")

for i in numerical_set :
    emp_data[i] = emp_data[i].astype("float64")

In [5]:
emp_data.shape
emp_data.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11.0,26,7,3,1,289.0,36.0,13.0,33.0,239554.0,...,0,1,2.0,1,0,1.0,90.0,172.0,30.0,4.0
1,36.0,0,7,3,1,118.0,13.0,18.0,50.0,239554.0,...,1,1,1.0,1,0,0.0,98.0,178.0,31.0,0.0
2,3.0,23,7,4,1,179.0,51.0,18.0,38.0,239554.0,...,0,1,0.0,1,0,0.0,89.0,170.0,31.0,2.0
3,7.0,7,7,5,1,279.0,5.0,14.0,39.0,239554.0,...,0,1,2.0,1,1,0.0,68.0,168.0,24.0,4.0
4,11.0,23,7,5,1,289.0,36.0,13.0,33.0,239554.0,...,0,1,2.0,1,0,1.0,90.0,172.0,30.0,2.0

# Fit Data in to (X,y)

In [6]:
X = pd.DataFrame(emp_data.drop("Absenteeism time in hours", axis=1))
y = pd.DataFrame(emp_data["Absenteeism time in hours"])

print(X.shape, y.shape)

(740, 20) (740, 1)

# Deep Learning Models Using Keras Model 8

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
#Scalar data is needed
scalarX, scalarY = MinMaxScaler(), MinMaxScaler()

scalarX.fit(X_train)
scalarY.fit(y_train)

scalarX.fit(X_test)
scalarY.fit(y_test)

X_train_scaled = scalarX.transform(X_train)
X_test_scaled = scalarX.transform(X_test)

y_train_scaled = scalarY.transform(y_train)
y_test_scaled = scalarY.transform(y_test)

In [13]:
# define and fit the final model
model8 = Sequential()

In [14]:
model8.add(Dense(60, input_dim=20, activation='relu'))
model8.add(Dense(60, activation='relu'))
model8.add(Dense(15, activation='relu'))
model8.add(Dense(1, activation='linear'))

WARNING:tensorflow:From C:\Users\aruba\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [15]:
model8.compile(loss='mse', optimizer='adam', metrics=['accuracy'])
model8.fit(X_train_scaled, y_train_scaled, epochs=1000, verbose=0)

WARNING:tensorflow:From C:\Users\aruba\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [18]:
# Evaluate the model
scores = model8.evaluate(X_test_scaled, y_test_scaled)
print("\n%s: %.2f%%" % (model8.metrics_names[1], scores[1]*100))

185/185 [==============================] - 0s 108us/step

acc: 5.95%